.form-grid-container.enhanced-grid-container {
    // overflow-y: auto;
    border: 1px solid var(--table-border-color);
    border-radius: var(--border-radius-md);
    overflow-x: auto;
    overflow-y: hidden;

    .form-grid {
        border: none;
        border-radius: unset;
    }

    .form-grid.relative-important {
        position: relative !important;
    }

    .grid-heading-row {
        height: auto;

        .grid-row .static-area.ellipsis {
            text-overflow: unset;
            white-space: normal;
        }
    }


    /* Match native Frappe exactly */
    /* Copied from frappe/public/common/grid.scss */
    .grid-heading-row {
        border-bottom: 1px solid var(--table-border-color);
        color: var(--gray-600);
        background-color: transparent;
        height: 32px;
        padding: 0 !important;
        border-top-left-radius: var(--border-radius-md);
        border-top-right-radius: var(--border-radius-md);
        
        &.with-filter {
            height: 64px;
        }
        .grid-row{
            background-color: var(--subtle-fg);
            min-width: max-content;  
        }
        .filter-row {
            background-color: var(--bg-color);

            .search {
                // TODO: Align with table grid without overwriting padding if possible
                padding: 4px 7px 4px 7px !important;
                border-bottom: 1px solid var(--table-border-color);
            }
        }

        .grid-static-col,
        .row-check,
        .row-index {
            height: 32px;
            padding: 6px 8px !important;
        }
        .grid-static-col {
            padding: 6px 8px !important;
            .static-area {
                &.reqd:after {
                    content: " *";
                    color: var(--red-400);
                }
            }
        }
    }



    .grid-row {
        .data-row.row {
            flex-wrap: nowrap;
            // display: grid;
            // grid-auto-flow: column;

            .col {
                max-width: 100px !important;
                min-width: 100px !important;
                border-bottom: 1px solid var(--table-border-color);
                padding-bottom: 1px;

                .field-area {
                    border-bottom: 1px solid var(--table-border-color);

                }
            }

            .col.custom-1 {
                min-width: 150px !important;
            }

            .col.custom-2 {
                min-width: 200px !important;
            }

            .col.custom-3 {
                min-width: 250px !important;
            }

            .col.custom-4 {
                min-width: 300px !important;
            }

            .col.custom-5 {
                min-width: 350px !important;
            }

            .col.custom-6 {
                min-width: 400px !important;
            }

            .col.custom-7 {
                min-width: 450px !important;
            }

            .col.custom-8 {
                min-width: 500px !important;
            }

            .col.custom-9 {
                min-width: 550px !important;
            }

            .col.custom-10 {
                min-width: 600px !important;
            }


            .row-check,
            .row-index {
                max-width: 50px !important;
                min-width: 50px !important;
            }

        }
    }
}